@{
    ViewData["Title"] = "Home Page";
}
<main>
    <div class="text-center">
        <img src="imagens/logo.png" alt="">
        @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <td>
                    <img src="imagens/img-home-1.jpeg" alt="" width="500">
                </td>
                <td align="right">
                    <h2 align="Center"> Tem dificuldades para marcar seu Fut? Vem pro MarqueSeuFut, Vem!</h2>
                </td>

            </tr>

        </thead>
    </table>
    <br>
    <br>
    <br>
    <br>
    <div align="center">

        <table>
            <thead>
                <tr>
                    <td align="center">
                        <h2>Onde os times se encontram</h2>
                    </td>
                </tr>
                <tr>
                    <td align="center" width="500">
                        <h5>
                            No site você tem todas as informações do time concentradas em um so lugar!
                            Agende, escale, localize times de futebol próximas a sua região para que possa fazer jogos.
                        </h5>
                    </td>
                </tr>

            </thead>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    @*<table>
        <thead>
            <tr>
                <td align="right">
                    <h2 align="Center"> Tem dificuldades para marcar seu Fut? Vem pro MarqueSeuFut, Vem!</h2>
                </td>
                <td>
                    <img src="imagens/img-home-2.jpeg" alt="">
                </td>


            </tr>

        </thead>
    </table>*@
</main>